<!DOCTYPE html>
<html lang="cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="icon" href="<%= publicPath %>favicon.ico">
<link rel="manifest" href="<%= publicPath %>manifest.json">
<link rel="apple-touch-icon" href="<%= publicPath %>img/logo_144.png" />
<title>H5-页面</title>
<% if (isProduction) { %>
    <style id="loadingStyle">
        @keyframes rotate {
            0% {
                transform: rotate(0);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .loading__wrapper {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 55px;
            height: 55px;
            margin: auto;
            background: url(<%= publicPath %>img/logo.png) no-repeat center;
            background-size: 20px 20px;
        }

        .loading__rotate {
            display: inline-block;
            width: 100%;
            height: 100%;
            vertical-align: top;
            background: url(<%= publicPath %>img/rotate.png) no-repeat center;
            background-size: 100% 100%;
            animation: rotate 2s linear infinite;
        }
    </style>
<% } %>
</head>
<body>
<div id="app"></div>
<% if (isProduction) { %>
    <div id="loadingDiv" class="loading__wrapper">
        <span class="loading__rotate"></span>
    </div>
<% } %>
<script src="<%= publicPath %>init/dynamic_config.js"></script>
<script src="<%= publicPath %>init/index.js"></script>
<script>init(<%= isProduction %>)</script>
</body>
</html>
